body {
  background-image: url('http://st.gde-fon.com/wallpapers_original/402763_nebo_oblaka_rasteniya_nezhno_1680x1050_www.Gde-Fon.com.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 400px;
  width: 100%;
  border: 3px solid rgb(243, 178, 75);
}

.columna {
  column-count: 3;
}

@media (min-width: 576px){
.highlight {
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
}
}

.highlight {
    padding: 5px;
    background-color:white;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}